build/bin
node_modules
frontend/dist

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env

# Wails build artifacts
*.md5

# Editor/IDE
.idea/
.vscode/
